@import "styles/_sizes.scss";
@import "styles/_breakpoint.scss";

.dashboard-assets-container {
  padding: 0 $padding-middle-mobile;
  min-height: 200px;
  @include media-breakpoint-landscape-phone() {
    padding: 0 $padding-middle;
  }

  &__title {
    padding: $padding-small 0;
    font-size: $font-size-subtitle-mobile;
    font-weight: 600;
    @include media-breakpoint-landscape-phone() {
      font-size: $font-size-subtitle;
    }
  }
}
.dashboard-assets {
  padding: 1rem 0;
}
