@import "styles/_sizes.scss";
@import "styles/_breakpoint.scss";

.dashboard {
  &__empty-events {
    height: 100%;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include media-breakpoint-landscape-phone() {
      flex-direction: row;
    }
  }

  &__chart {
    display: flex;
    flex: 3;
  }

  &__portfolio-events-aside {
    display: flex;
    min-width: 315px;
    @include media-breakpoint-landscape-phone() {
      margin-left: 2rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding-left: $padding-middle-mobile;
    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-middle;
    }

    & .gv-btn {
      font-size: $font-size-middle-mobile;
      font-weight: 600;
      padding: 0;
      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-middle;
      }
    }
  }

  &__assets {
    margin-top: 2rem;
  }
}
