@import "styles/_sizes.scss";
@import "styles/_breakpoint.scss";
@import "styles/_colors.scss";

.dashboard {
  &__empty-events {
    height: 100%;
    max-width: 255px;
  }

  &__empty-events-text {
    padding: $padding-mini 0;
    font-size: $font-size-small;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: 0.7px;
    opacity: 0.4;
  }

  &__empty-events-item {
    padding: $padding-small 0;
    display: flex;
    align-items: center;
  }

  &__empty-events-item-label {
    padding-left: $padding-small;
    font-size: $font-size-middle;
    font-weight: 500;
    opacity: 0.4;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include media-breakpoint-landscape-phone() {
      flex-direction: row;
      padding-left: $padding-middle;
    }
  }

  &__chart {
    display: flex;
    flex: 3;
  }

  &__portfolio-events-aside {
    display: flex;
    min-width: 315px;
    @include media-breakpoint-landscape-phone() {
      margin-left: 2rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding-left: $padding-middle-mobile;
    @include media-breakpoint-landscape-phone() {
      padding-left: $padding-middle;
    }

    & .gv-btn {
      font-size: $font-size-middle-mobile;
      font-weight: 600;
      padding: 0;
      @include media-breakpoint-landscape-phone() {
        font-size: $font-size-middle;
      }
    }
  }

  &__assets {
    margin-top: 2rem;
  }
}
