h1 {
  font-size: 48px;
  font-weight: 900;
  color: #184f61;
  margin-bottom: 10px;
  line-height: 1; }
  h1::after {
    content: ".";
    color: #03bdaf; }

.link {
  cursor: pointer;
  color: #03bdaf; }
  .link:hover {
    padding-bottom: 0.1rem;
    text-decoration: underline;
    text-decoration-style: dotted; }
