.fund .recharts-rectangle {
  fill: #03bdaf;
  stroke: #184f61; }

.profit .recharts-rectangle {
  fill: white;
  stroke: #184f61; }

.lose .recharts-rectangle {
  fill: #184f61;
  stroke: #184f61; }

.total-profit .recharts-line-curve {
  stroke: #184f61; }
