@import "styles/_colors.scss";

$datepicker__selected-color: $alternate-color;
$datepicker__font-family: "NeuzeitGroReg";
$datepicker__border-color: $border-color;
$datepicker__text-color: $text-color;
$datepicker__header-color: $text-color;

@import "node_modules/react-datepicker/src/stylesheets/datepicker.scss";

.react-datepicker-popper {
  z-index: 2;
}

.gv-datepicker {
  position: relative;
  margin-bottom: 1rem;
}

.gv-datepicker__invalid {
  position: absolute;
  bottom: -15px;
  font-size: 12px;
  line-height: 12px;
  color: $danger-color;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.gv-datepicker__label {
  color: rgba(0, 0, 0, 0.87);

  &.gv-datepicker__label--error {
    color: $danger-color;
  }

  &.gv-datepicker__label--regular {
    color: $alternate-color;
  }
}

.gv-datepicker__label--material {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  transform: scale(1) translate(0px, 0px);
  transform-origin: left top 0px;
  pointer-events: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
}

.gv-datepicker--is-open,
.gv-datepicker--is-filled,
.gv-datepicker--has-error {
  .gv-datepicker__label--material {
    transform: scale(0.75) translate(0px, -28px);
  }

  .gv-datepicker__hr {
    transform: scaleX(1);
  }
}

.gv-datepicker__hr {
  border-top: none $alternate-color;
  border-left: none $alternate-color;
  border-right: none $alternate-color;
  border-bottom: 2px solid $alternate-color;
  bottom: 0;
  box-sizing: content-box;
  margin: 0px;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.gv-datepicker__hr-placeholder {
  @extend .gv-datepicker__hr;
  transform: scaleX(1);
  border-top: none $border-color;
  border-left: none $border-color;
  border-right: none $border-color;
  border-bottom: 2px solid $border-color;
}

.gv-datepicker__hr--error {
  border-top: none $danger-color;
  border-left: none $danger-color;
  border-right: none $danger-color;
  border-bottom: 2px solid $danger-color;
}

.gv-datepicker__hr--regular {
  border-top: none $alternate-color;
  border-left: none $alternate-color;
  border-right: none $alternate-color;
  border-bottom: 2px solid $alternate-color;
}

.gv-datepicker--material {
  margin-top: 2rem;
  input {
    width: 100%;
    background-color: transparent;
    border: 0;
    &:focus {
      outline: 0;
    }
  }
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    width: 100%;
  }
}

.react-datepicker__time-list {
  padding: 0.5rem;
}
