@import "styles/_breakpoint.scss";

.app__main {
  display: flex;
  @include media-breakpoint-tablet {
    height: calc(100% - 68px);
    margin-top: 68px;
  }
}

.app__sidebar {
  flex: 1 1 65px;
  max-width: 65px;
  @include media-breakpoint-phone() {
    display: none;
  }
}

.app__body {
  flex: 1 1 100%;
  @include media-breakpoint-phone() {
    max-width: 100%;
  }
}
