@import "styles/_breakpoint.scss";

.program-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.program-button {
  margin: 0.5rem;
  min-width: 12rem;
  min-height: 3rem;
  line-height: 2.1;
  @include media-breakpoint-phone() {
    margin: 0.5rem;
    min-width: 7rem;
    min-height: initial;
  }
}
